@model List<EntityLayer.Concrete.Food>
@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewData["Title"] = "Foods";
    Layout = "~/Views/Shared/UserLayout.cshtml";
    int i= 1;
}
@{
    var tablenum = Context.Request.Query["tablenum"].ToString();
}

<!-- bredcrumb Area Start-->
<section class="breadcrumb-area">
    <div class="banner-bg-img"></div>
    <div class="banner-shape-1"><img src="~/restaurantTheme/assets/img/banner/shape-1.png" alt="img"></div>
    <div class="banner-shape-2"><img src="~/restaurantTheme/assets/img/banner/shape-2.png" alt="img"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 align-self-center">
                <div class="banner-inner text-center">
                    <h3>
                        Yemeklerizi seçip
                    </h3>
                    <h1>SİPARİŞ VERİN</h1>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="home.html">Anasayfa</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Alışveriş</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb Area End -->


<!-- category Area Start-->
<section class="category-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 align-self-center">
                <ul class="category-menu">
                    
                    @foreach (var item in ViewBag.Kategoriler)
                    {

                        <li class="category-wrap">
                            <a href="@Context.Request.GetDisplayUrl()&catName=@item"><img src="~/restaurantTheme/assets/img/category/5.png" alt="category">@item</a>
                        </li>
                        i++;
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- category Area End -->

<!-- populer Area Start-->
<section class="populer-area pd-top-50 pd-bottom-120">
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="@item.Photo" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="single-product.html">@item.Name</a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (200)
                                </div>
                                <h6 class="price">₺ @item.Price</h6>
                            </div>
                        </div>
                        <div class="btn-area">
                            <form asp-action="FoodDetails" asp-controller="Home" method="get">
                                <a type="submit" class="btn btn-secondary" href="FoodDetails?foodId=@item.Id&tableNum=@tablenum">Ürüne Git</a>
                            </form>
                        </div>
                    </div>
                </div>

            }
                <div class="col-12">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="ri-arrow-left-s-line"></i>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="ri-arrow-right-s-line"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
    </div>
</section>
<!-- populer Area End -->
