@using EntityLayer.Concrete
@model List<CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!-- bredcrumb Area Start-->
<section class="breadcrumb-area">
    <div class="banner-bg-img"></div>
    <div class="banner-shape-1"><img src="~/restaurantTheme/assets/img/banner/shape-1.png" alt="img"></div>
    <div class="banner-shape-2"><img src="~/restaurantTheme/assets/img/banner/shape-2.png" alt="img"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 align-self-center">
                <div class="banner-inner text-center">
                    <h1>SEPETİM</h1>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="home.html">Anasayfa</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Sepet</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb Area End -->
<!----Sepet işlemleri-->
<!-- cart area start -->
<div class="cart-area pd-top-120 pd-bottom-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="table-responsive mb-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="blank"></th>
                                <th class="blank"></th>
                                <th class="blank"></th>
                                <th class="title-name">Ürünler</th>
                                <th scope="col">Fiyat</th>
                                <th scope="col">Adet</th>
                                <th>Toplam Fiyat</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @if (Model.Any())
                                {
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <form asp-action="RemoveFromCart" asp-controller="Cart" method="post">
                                                <input type="hidden" name="foodId" value="@item.FoodId" />
                                                <input type="hidden" name="cartId" value="@item.CartId" />
                                                <td class="table-close-btn"><button type="submit" @*href="RemoveFromCart?foodId=@item.FoodId&cartId=@item.CartId"*@><i class="ri-close-line"></i></button></td>
                                            </form>
                                            <th scope="row">

                                                <div class="thumb">
                                                    <img src="@item.Food.Photo" style="width: auto; height: 90px;" alt="img">
                                                </div>
                                            </th>
                                            <td colspan="2" class="item-name">
                                                <div class="details">
                                                    <h5>@item.Food.Name</h5>
                                                </div>
                                            </td>
                                            <td>₺ @item.Food.Price</td>
                                            <td class="table-quantity">
                                                <form>
                                                    <div class="quantity buttons_added">
                                                        <input type="number" class="input-text qty text" step="1" min="1" max="10000" name="quantity" value="1">

                                                    </div>
                                                </form>
                                            </td>
                                            <td>₺ @item.Food.Price</td>
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <h1>SEPETINIZ BOS GOZUKUYOR.</h1>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4">
                <div class="order-cart-area">
                    <div class="order-cart">
                        <h5>SEPETİM</h5>
                        <ul>
                            <li class="total">Toplam<span>@ViewData["ToplamFiyat"]</span></li>
                        </ul>
                    </div>
                    <form asp-controller="Cart" asp-action="Order" method="post">
                        <button name="cartId" class="btn btn-secondary w-100" value="@ViewData["CartId"]">SİPARİŞİ ONAYLA</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cart area end -->
